# =========================
# Build folders
# =========================
Debug/
Release/
build/

# =========================
# STM32CubeIDE / Eclipse settings
# =========================
.settings/
.cproject
.project
.metadata/

# =========================
# Generated build files
# =========================
*.elf
*.bin
*.hex
*.map
*.list
*.o
*.d

# =========================
# Debug / intermediate files
# =========================
*.log
*.tmp
*.bak

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code / other editors (optional)
# =========================
.vscode/