# Compiled files
*.exe
*.o
*.pyc

# Folders
node_modules/
__pycache__/
.venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Environment files
.env

# Specific file
secrets.txt